In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('dataset/weatherAUS.csv')

In [3]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [9]:
X = data.drop(['Date', 'RainTomorrow'], axis=1)
y = data['RainTomorrow']

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [10]:
categorical = [var for var in X.columns if X[var].dtype == 'O']

In [12]:
numerical = [var for var in X.columns if X[var].dtype != 'O']

In [13]:
X[categorical].head()

  Location WindGustDir WindDir9am WindDir3pm RainToday
0   Albury           W          W        WNW        No
1   Albury         WNW        NNW        WSW        No
2   Albury         WSW          W        WSW        No
3   Albury          NE         SE          E        No
4   Albury           W        ENE         NW        No

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [18]:
for df in [X_train, X_test]:
    for col in numerical:
        col_median = df[col].median()
        df[col].fillna(col_median, inplace=True)

In [19]:
X_train[numerical].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RISK_MM          0
dtype: int64

In [20]:
X_train_categorical = X_train[categorical]

In [21]:
X_train_categorical = pd.get_dummies(X_train_categorical)

In [22]:
X_train_categorical.head()

,Location_Adelaide,Location_Albany,Location_Albury,Location_AliceSprings,Location_BadgerysCreek,Location_Ballarat,Location_Bendigo,Location_Brisbane,Location_Cairns,Location_Canberra,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes
110803,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
87289,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
134949,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
85553,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
16110,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [24]:
X_test_categorical = X_test[categorical]
X_test_categorical = pd.get_dummies(X_test_categorical)

In [25]:
X_train_numerical = X_train[numerical]
X_test_numerical = X_test[numerical]

In [26]:
train = pd.concat(X_train_categorical, X_train_numerical)
test = pd.concat(X_test_categorical, X_test_numerical)

C:\Users\Bang\AppData\Local\Temp\ipykernel_15876\1274692428.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  train = pd.concat(X_train_categorical, X_train_numerical)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"