In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('dataset/weatherAUS.csv')

In [3]:
df.shape

(142193, 24)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [35]:
df.drop(['RISK_MM'], axis=1)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

In [36]:
df.describe(include=['object'])

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
count,142193,142193,132863,132180,138415,140787,142193
unique,3436,49,16,16,16,2,2
top,2013-12-01,Canberra,W,N,SE,No,No
freq,49,3418,9780,11393,10663,109332,110316

In [37]:
df['RainTomorrow'].isnull().sum()

0

In [38]:
df['RainTomorrow'].unique()

array(['No', 'Yes'], dtype=object)

In [39]:
df['RainTomorrow'].value_counts()/len(df)

No     0.775819
Yes    0.224181
Name: RainTomorrow, dtype: float64

In [40]:
categorical = [var for var in df.columns if df[var].dtype=='O']
categorical

['Date',
 'Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

In [41]:
cat1 = [var for var in categorical if df[var].isnull().sum()!=0]
print(df[cat1].isnull().sum())

WindGustDir     9330
WindDir9am     10013
WindDir3pm      3778
RainToday       1406
dtype: int64

In [42]:
numerical = [var for var in df.columns if df[var].dtype!='O']
numerical

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RISK_MM']

In [43]:
num1 = [var for var in numerical if df[var].isnull().sum()!=0]
print(df[num1].isnull().sum())
num1

MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustSpeed     9270
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
dtype: int64

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm']

In [44]:
X = df.drop(['RainTomorrow'], axis=1)
y = df['RainTomorrow']

In [50]:
categorical = [var for var in X.columns if X[var].dtype=='O']
categorical

['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [51]:
numerical = [var for var in X.columns if X[var].dtype!='O']
numerical

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RISK_MM']

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [52]:
for df1 in [X_train, X_test]:
    for col in numerical:
        col_median = X_train[col].median()
        df1[col].fillna(col_median, inplace=True)

In [53]:
X_train[numerical].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RISK_MM          0
dtype: int64

In [54]:
for df2 in [X_train, X_test]:
    for col in cat1:
        df2[col].fillna(X_train[col].mode()[0], inplace=True)

In [55]:
X_train[categorical].isnull().sum()

Date           0
Location       0
WindGustDir    0
WindDir9am     0
WindDir3pm     0
RainToday      0
dtype: int64

In [66]:
X_train_cate =  X_train[categorical].drop(['Date'], axis=1)
X_train_cate.head()

            Location WindGustDir WindDir9am WindDir3pm RainToday
110803   Witchcliffe           S        SSE          S        No
87289         Cairns         ENE        SSE         SE       Yes
134949  AliceSprings           E         NE          N        No
85553         Cairns         ESE        SSE          E        No
16110      Newcastle           W          N         SE        No

In [57]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [67]:
X_train_cate = pd.get_dummies(X_train_cate)
X_train_cate

,Location_Adelaide,Location_Albany,Location_Albury,Location_AliceSprings,Location_BadgerysCreek,Location_Ballarat,Location_Bendigo,Location_Brisbane,Location_Cairns,Location_Canberra,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes
110803,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
87289,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
134949,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
85553,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
16110,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
97639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
95939,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
117952,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
43567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [68]:
X_test_cate =  X_test[categorical].drop(['Date'], axis=1)
X_test_cate = pd.get_dummies(X_test_cate)
X_test_cate

,Location_Adelaide,Location_Albany,Location_Albury,Location_AliceSprings,Location_BadgerysCreek,Location_Ballarat,Location_Bendigo,Location_Brisbane,Location_Cairns,Location_Canberra,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes
86232,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
57576,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
124071,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
117955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
133468,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35297,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
48566,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
131684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
66813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [70]:
X_train_num = X_train[numerical]
X_test_num = X_test[numerical]

In [71]:
train = pd.concat([X_train_num, X_train_cate], axis=1)
test = pd.concat([X_test_num, X_test_cate], axis=1)

In [73]:
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(train, y_train)

LogisticRegression()

In [74]:
y_pred = model.predict(test)
y_pred

array([0, 0, 0, ..., 0, 0, 1])

In [75]:
score = f1_score(y_test, y_pred)

In [76]:
score

0.9802042419481539